<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<div>
  <div>
    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-error">
            This form contains <%= pluralize(@user.errors.count, "error") %>.
          </div>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li>* <%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <p>
        <%= f.label :username,"Username:" %></br>
        <%= f.text_field :username %></br>
      </p>

      <p>
        <%= f.label :email,"Email:" %></br>
        <%= f.text_field :email %></br>
      </p>

      <p>
        <%= f.label :password %></br>
        <%= f.password_field :password %></br>
      </p>

      <p>
        <%= f.label :password_confirmation,"Re-enter Password:" %></br>
        <%= f.password_field :password_confirmation %></br>
      </p>

      <p>
        <%= f.label :shoe_size %>:</br>
        <%= f.select :shoe_size, [ '4', '4.5', '5', '5.5', '6', '6.5', '7', '7.5', '8', '8.5', '9',
                                '9.5', '10', '10.5', '11', '11.5', '12', '12.5', '13', '13.5', 
                                '14', '14.5', '15' ], :prompt => 'Select One' %></br>
      </p>

      <p><%= f.submit "Create my account" %></p>
    <% end %>
  </div>
</div>
